<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
		<div class="container">
			<a href="index.html" class="navbar-brand">
				<span class="d-inline-block logo-wrapper">
					<img alt="company-logo" src="assets/images/company-logo.png">
				</span>
				Laxmi Tiles
			</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a  class="nav-link" routerLink="home" routerLinkActive="active">
							Home
						</a>
					</li>
					<li class="nav-item">
						<a  class="nav-link" routerLink="purchase" routerLinkActive="active">
							Purchase
						</a>
					</li>
					<li class="nav-item">
						<a  class="nav-link" routerLink="sales" routerLinkActive="active">
							Sales
						</a>
					</li>
					<li class="nav-item">
						<a href="#share-head-section" class="nav-link">Sales Return</a>
					</li>
					<li class="nav-item">
						<a href="#share-head-section" class="nav-link">Block Items</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="size" routerLinkActive="active">Size</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>