<form [formGroup]="parent">
	<div class="form-group">
		<label>Category</label>
		<select class="form-control" formControlName="category">
			<option [ngValue]="null" selected>Select Category</option>
			<option [ngValue]="categoryItem" *ngFor="let categoryItem of categories">
				{{categoryItem}}
			</option>
		</select>
	</div>
	<div class="form-group">
		<label>Godown</label>
		<select class="form-control" formControlName="godown">
			<option [ngValue]="null" selected>Select Godown</option>
			<option [ngValue]="godownItem" *ngFor="let godownItem of godowns">
				{{godownItem}}
			</option>
		</select>
	</div>
	<div class="form-group" *ngIf="form.purchaseDate">
		<label>Purchase Date</label>
		<input type="date" class="form-control" data-date-format="DD MM YYYY" formControlName="purchaseDate">
	</div>
	<div class="form-group" *ngIf="form.saleDate">
		<label>Sale Date</label>
		<input type="date" class="form-control" data-date-format="DD MM YYYY" formControlName="saleDate">
	</div>
	<div class="form-group">
		<label>Slip Number</label>
		<input type="text" class="form-control" formControlName="slipNumber">
	</div>
	<div class="form-group">
		<label>Model</label>
		<input type="text" class="form-control" formControlName="model">

	</div>
	<div class="form-group">
		<label>
			Size
		</label>
		<input type="text" class="form-control" formControlName="size">
	</div>
	<div class="form-group">
		<label>
			Company
		</label>
		<input type="text" class="form-control" formControlName="company">
	</div>
	<div class="form-group">
		<label>Quantity</label>
		<input type="text" class="form-control" formControlName="quantity">
	</div>
	<div class="form-group">
		<label>Salesman</label>
		<input type="text" class="form-control" formControlName="salesman">
	</div>
	<div class="form-group">
		<label>Batch Number</label>
		<input type="text" class="form-control" formControlName="batchNumber">
	</div>
	<div class="form-group" *ngIf="form.customer">
		<label>Customer</label>
		<input type="text" class="form-control" formControlName="customer">
	</div>
</form>