<!-- <section class="purchase-wrapper p-1">
	<div class="border-bottom my-1">
		<h2>Purchase</h2>
	</div>
	<div class="card">
		<app-inventory-tracking>
		</app-inventory-tracking>
	</div>
	
</section> -->

<div class="card p-1">
	<div class="card-header">
		<h2>Purchase Entry</h2>
	</div>
	<div class="card-body">
		<div class="container no-gutters">
			<div class="row no-gutters">
				<div class="col-sm-6 col-md-8 col-lg-9 col-xl-6">
					<app-inventory-tracking
						[parent]="purchaseForm"
						[categories]="categories"
						[godowns]="godowns">
					</app-inventory-tracking>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
			<button class="btn btn-outline-primary mr-3" (click)="save()" type="button">Save</button>
			<button class="btn btn-outline-secondary" type="button">Cancel</button>
	</div>
</div>